<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Pizza Shop</h1>
  <nav>
    <ul>
      <li> <a href="/pizza_orders">Pizza Orders</a>  </li>
      <li> <a href="/pizza_orders/new">New Pizza Orders</a>  </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
